.cardcard{
    width: 90%;
    height: 200px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.581);
    gap: 20px;
    overflow: hidden;
}
.leftcard img{
    max-width: 18%;
    height: auto;
    display: block;
    margin-left: 50px;
    object-fit: cover;
}

.leftcard{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   

}



.leftcard .name-price{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;

}

.rightcard button{
    margin-right: 30px;
    background-color: rgb(240, 6, 6);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}
.rightcard button:hover{
    opacity: 0.6;
}


@media (max-width:750px) {
    .rightcard button{
        height: 55px;
        width: 137px;

    }
    .cardcard{
        width: 88%;
        height: 155px;
    }
    .rightcard button{
        width: 80px;
        height: 30px;
        font-size: small
    }
    .name-price span{
        font-size: small;
    }
    .leftcard img{
        max-width: 35%;
    height: auto;
    display: block;
    margin-left: 50px;
    object-fit: cover;

    }
}

