.contacta{
    width: 100%;
    max-height: 80vh;
}
.contacta form{

    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.contacta form input {
    width: 30%;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(26, 24, 24);
    color: rgb(3, 3, 3);
    font-size: medium;
    font-weight: 400;
}

.contacta form textarea {
    height: 100px;
    width: 30%;
    padding: 10px 20px;
    border: 2px solid rgb(26, 24, 24);
    color: rgb(3, 3, 3);
    font-size: medium;
    font-weight: 400;
}

.contacta form button{
    width: 110px;
    height: 50px;
    border-radius: 20px;
}

@media (max-width:750px) {
    .contacta form input{
        height: 55px;
        width: 80%;

    }
    .contacta form textarea{
        height: 150px;
        width: 60%;
    }
}