

.hero-bg{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    margin-left: 30px;

}

.hero-bg img{
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.457);
    border-radius: 20px;
}

.category-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    flex-wrap: wrap;
    gap: 10px;

}
.item-card{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    transform: all 0.4s;
    cursor: pointer;
    padding: 20px;

}
.item-card:hover{
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.4);
}
.item-card img {
    width: 100%;
}

.product-section{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: 10px;
    

}
h1{
    display: flex;
    justify-content: center;
    
}