.card{
    width: 100%;
    min-height: 100px;
    justify-content:start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.card-top {
width: 100%;
height: 100%;
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;

}

.card-top img{
    width: 90%;
    display: flex;
    max-width: 400px;
    
    
    
}

.cardCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.price-Seation{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;

    color: rgb(1, 1, 1);
}