.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(26, 25, 25);
    color: rgb(221, 218, 212);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    font-size: larger;
    font-weight: 400;
    margin-bottom:2px ;
}