.product{
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgb(44, 42, 42);
border-radius: 20px;





}
.product-details{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
}

button{
    padding: 10px 10px;
    background-color: rgb(40, 42, 40);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    
    
}
button:hover{
    opacity: .8;
}

.product img{
    width: 100%;
    max-height: 60%;
    overflow: hidden;

}

